/*Tablero de 18 x 11*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

:root {
    --nobel_gas: hsl(151deg 100% 21%);
    --halogen: hsl(68deg 64% 43%);
    --transition_metals: hsl(200deg 100% 40%);
    --metalloid: hsl(348deg 85% 51%);
    --other_metals: hsl(301deg 60% 29%);
    --transtion_metals: hsl(348deg 85% 51%);
    --no_metals: hsl(27deg 91% 55%);
    --alkaline_earths: hsl(43deg 98% 53%);
    --alkaline_metals: hsl(208deg 100% 15%);
    --lanthanides: #cbd48e;
    --actinides: hsl(149deg 25% 52%);

}

h1 {
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 1rem;
}

.periodic_table {
  position: relative;
  width: 90vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(11, 8%);
  grid-template-rows: repeat(9,9%);
  grid-auto-flow: column;
}

.row {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.final {
    margin-top: 2rem;
    justify-content: center;
}


.element {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 5vw;
    height: 13vh;
    background: red;
    color: #fff;
    border: 5px solid white;
}

.nobel_gas {
    background: var(--nobel_gas);
}

.no_metal {
    background: var(--no_metals);
    color: #000;
}

.alkaline_metal {
    background: var(--alkaline_metals);
}

.alkaline_earth {
    background: var(--alkaline_earths);
}

.metalloid {
    background: var(--metalloid);
}

.halogen {
    background: var(--halogen);
    color: #000;
}

.transition_metal {
    background: var(--transition_metals);
}

.other_metal {
    background: var(--other_metals);
}

.lanthanide {
    background: var(--lanthanides);
    color: #000;
}

.actinide {
    background: var(--actinides);
    color: #000;
}


.grp1 {
    display: flex;
}

.grp2 {
    display: flex;
    justify-self: end;
}

.atomic_mass {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.7rem;
}

.space {
    font-size: 0.8rem;
}

.center {
    font-size: 1.5rem;
    font-weight: bold;
}

.element p {
    text-align: center;
}

.legend {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 20%;
}

.elements_legend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    margin-top: 1rem;
}

.small {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.elements_legend div:has(p) {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-left: 3rem;
}

.big {
    position: relative;
    width:9vw;
    height: 18vh;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}

.big .atomic_mass {
    font-size: 1rem;
}

.big .space {
    margin-top: 0.4rem;
    font-size: 1.3rem;
}

.big .center{
    margin-top: 0;
    font-size: 2rem;
}

#atomic_legend {
    position: absolute;
    font-size: 0.8rem;
    top: 2%;
    right: 62%;
    width: 100%;
    display: flex;
    align-items: center;
}

.atomic_line {
    width: 1.8rem;
    height: 0.1rem;
    background: #000;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#symbol_legend {
    position: absolute;
    font-size: 0.8rem;
    bottom: 44%;
    right: 68%;
    width: 100%;
    display: flex;
    align-items: center;
}

.symbol_line {
    width: 6rem;
    height: 0.1rem;
    background: #000;
    margin-top: 0.5rem;
    margin-left: -0.1rem;
}

#mass_legend {
    position: absolute;
    font-size: 0.8rem;
    top: 2%;
    left: 92%;
    width: 100%;
    display: flex;
}

.mass_line {
    width: 1.8rem;
    height: 0.1rem;
    background: #000;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#name_legend {
    position: absolute;
    font-size: 0.8rem;
    bottom: 18%;
    left: 81%;
    width: 100%;
    display: flex;
}

.name_line {
    width: 2.8rem;
    height: 0.1rem;
    background: #000;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}