/*Tablero de 18 x 11*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

:root {
    --nobel_gas: hsl(151deg 100% 21%);
    --halogen: hsl(68deg 64% 43%);
    --transition_metals: hsl(200deg 100% 40%);
    --metalloid: hsl(348deg 85% 51%);
    --other_metals: hsl(301deg 60% 29%);
    --transtion_metals: hsl(348deg 85% 51%);
    --no_metals: hsl(27deg 91% 55%);
    --alkaline_earths: hsl(43deg 98% 53%);
    --alkaline_metals: hsl(208deg 100% 15%);
    --lanthanides: hsl(348deg 85% 51%);
    --actinides: hsl(149deg 25% 52%);

}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.periodic_table {
  width: 90vw;
  height: 85%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(11, 8%);
  grid-template-rows: repeat(11,6rem);
  grid-auto-flow: column;
}

.row {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.final {
    margin-top: 2rem;
    justify-content: center;
}


.element {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 5vw;
    height: 10vh;
    background: red;
    color: #fff;
    border: 5px solid white;
}

.nobel_gas {
    background: var(--nobel_gas);
}

.no_metal {
    background: var(--no_metals);
    color: #000;
}

.alkaline_metal {
    background: var(--alkaline_metals);
}

.alkaline_earth {
    background: var(--alkaline_earths);
}

.metalloid {
    background: var(--metalloid);
}

.halogen {
    background: var(--halogen);
    color: #000;
}

.transition_metal {
    background: var(--transition_metals);
}

.other_metal {
    background: var(--other_metals);
}

.lanthanide {
    background: var(--lanthanides);
    color: #000;
}

.actinide {
    background: var(--actinides);
    color: #000;
}


.grp1 {
    display: flex;
}

.grp2 {
    display: flex;
    justify-self: end;
}

.atomic_mass {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.space {
    margin-bottom: 0.7rem;
}

.center {
    margin-top: 0.5rem;
}

.element p {
    text-align: center;
}
