@import url(assets/fonts/Ubuntu-Bold.ttf);
@import url(assets/fonts/Ubuntu-Medium.ttf);
@import url(assets/fonts/Ubuntu-Regular.ttf);

:root {
    --marine_blue: hsl(213, 96%, 18%);
    --purplish_blue: hsl(243, 100%, 62%);
    --pastel_blue: hsl(228, 100%, 84%);
    --light_blue: hsl(206, 94%, 87%);
    --strawberry_red: hsl(354, 84%, 57%); 
    --cool_gray: hsl(231, 11%, 63%);
    --light_gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --font_family: "Ubuntu-Regular", sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_family);
}

body {
    background: var(--magnolia);
    overflow-x: hidden;
}

#form-container {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 20%;

    position: relative;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

nav {
    display: flex;
    width: 60%;
    justify-content: space-evenly;

    position: absolute;
    top: 20%;
    left: 20%;
}

.nav-item {
    color: var(--white);
}

.nav-item div:first-child {
    border: 1px solid  var(--white);
    border-radius: 1.2rem;
    padding: .5rem .75rem;
}

.nav-item div:first-child:not(.nav-item-selected) {
    color: var(--white);
}

.nav-item-selected {
    background: var(--light_blue);
    color: var(--marine_blue);
}

.nav-item-info {
    display: none;
}

main {
    width: 90%;

    position: absolute;
    top: 12%;
    left: 2.5%;
    z-index: 2;

    background: var(--white);
    border: 1px solid var(--white);
    border-radius: .5rem;
    padding: 1rem .5rem 1.7rem .5rem;
    box-shadow: -2px 26px 19px -20px rgba(0,0,0,0.2);
}

main h2 {
    color: var(--marine_blue);
    font-weight: 700;
    margin: .7rem 0;
}

main p {
    margin: .7rem 0;
    color: var(--cool_gray);

    max-width: 30ch;
}

form {
    width: 95%;
    margin: 0 auto;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    padding: 0 .5rem;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;

    /* position: absolute;
    bottom: 0; */

    width: 100%;
    height: 10%;
    margin-top: 1.5rem;
    
    z-index: 3;
}

.with_go_back {
    justify-content: space-between;
}

footer #change_step {
    height: 50%;
    margin-right: 1rem;

    background: var(--marine_blue);
    color: var(--white);
    border: none;
    border-radius: .25rem;
    padding: .8rem;

    display: flex;
    align-items: center;
}

#form-header {
    padding: 0 1rem;
}

.labels-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: .15rem;
}

.labels {
    width: 50%;
    font-size: .8rem;
    font-weight: 700;
    color: var(--marine_blue);
}

.fields {
    padding: .4rem 1rem;
    border: 1px solid var(--light_gray);
    border-radius: .15rem;
}

.fields::placeholder {
    color: var(--cool_gray);
}
.errors {
    width: 50%;
    text-align: right;
    color: var(--strawberry_red);
    font-weight: bold;
    font-size: .8rem;
}

#plan-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    border: 1px solid var(--light_gray);
    border-radius: .5rem;

    padding: 1rem;
    margin-bottom: 1rem;
}

.box img {
    width: 3.5rem;
    margin-bottom: 1rem;
}

.box label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-info p {
    margin: .2rem 0;
}

.plan-info p:first-child {
    color: var(--marine_blue);
    font-weight: bold;
}

.box:has(input:focus){
    background-color: var(--alabaster);
    border: 1px solid var(--purplish_blue);
}

.addons_img{
    width: 100%;
}

.hidden {
    opacity: 0;
}

#plan-type-container {
    width: 80%;
    display: flex;
    justify-content: space-around;

    margin: 1.3rem auto;

    background: var(--alabaster);
}

#plan-type-container p:first-child, #plan-type-container:has(input:checked) p:last-child{
    color: var(--marine_blue);
}

#plan-type-container:has(input:checked) p:first-child{
    color: var(--cool_gray);
}

footer #go_back{
    background-color: var(--white);
    border: 0;

    color: var(--marine_blue);
    font-weight: bold;
    font-size: .8rem;
}

.container {
    display: flex;
    align-items: center;
}

.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  input:checked + .slider {
    background-color: var(--marine_blue);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  

  #resume {
    background: var(--alabaster);
    border: 1px solid var(--alabaster);
    border-radius: .5rem;
    padding: 1rem;
  }

  #resume div, #total-resume div   {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: .7rem;
  }

  #plan-selected, #plan-selected-price {
    color: var(--marine_blue);
    font-weight: bold;
  }

  #total-price{
    color: var(--purplish_blue);
    font-weight: bold;
  }

  #resume div:first-child a{
    color: var(--purplish_blue);
  }

@media screen and (min-width: 1440px){
    #form-container {
        display: flex;

        width: 75%;
        height: 58%;

        margin: 0 auto;
        margin-top: 8rem;
        padding: .8rem;

        background: var(--white);
        border-radius: .5rem;

        font-size: 1.1rem;
    }

    main, header{
        position:initial;
    }

    header {
        width: 20%;
        height: 100%;
        background-image: url("assets/images/bg-sidebar-desktop.svg");
        border-radius: .5rem;
    }

    header nav {
        width: 100%;
        position: initial;
        flex-direction: column;

        margin-top: 1.5rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
        padding: 0;
        border: 0;

        font-size: .8rem;
    }

    .nav-item div:first-child {
        margin: 0 1.5rem;
    }

    .nav-item div:first-child:hover{
        cursor: pointer;
    }

    .nav-item-info {
        display: block;
    }

    .nav-item-info p:first-child {
        font-size: .7rem;
        color: var(--cool_gray);
    }

    .nav-item-info p {
        margin: .7rem 0;
    }

    .labels-container {
        margin-bottom: .4rem;
    }

    main {
        height: 100%;
        padding: 0 6rem;

        box-shadow: none;
    }

    main p {
        max-width: none;
    }

    #form-header {
        padding: 0 1.8rem;
        margin: 2rem 0;
    }

    .fields {
        padding: 1rem;
        border: 1px solid var(--light_gray);
        border-radius: .15rem;
    }

    footer {
        z-index: 2;
        width: 60%;
        right: 10%;
        bottom: 3%;
    }

    footer #change_step {
        padding: 1.2rem;
    }

    footer #change_step:hover {
        cursor: pointer;
    }

    footer #go_back {
        color: var(--cool_gray);
        cursor: pointer;
    }

    footer #go_back:hover {
        color: var(--marine_blue);
    }

    #plan-container {
        width: 60%;
        margin: 0 auto;

        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .box {
        align-items: start;
    
        width: 25%;
    }
    
    .box img {
        width: 2.5rem;
        margin-bottom: 3.5rem;
    }

    .box label{
        display: block;
    }

    .plan-info{
        display: block;
    }

    #plan-type-container {
        width: 60%;
        justify-content: space-evenly;
    }

    footer {
        width: 100%;
        margin-top: 4.5rem;
    }

    .addons_img{
        width: auto;
    }

    #resume, #total-resume{
        width: 70%;
        margin: 0 auto;
    }
}