* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

main {
    padding: 3rem;
}

h1, h2{
    margin-top: 3rem;
    text-align: center;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

nav div {
    padding-right: 1.5rem;
}

p {
    max-width: 75ch;
}

.pre_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.def_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.exp_container {
    display: flex;
    flex-direction: column;
}

.tag_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.def_son_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.code {
    display: flex;
    justify-content: center;
}

.attr {
    color: orange;
}

.str {
    color: rgb(74, 197, 25);
}