* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 4.5rem;
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

a {
    cursor:  pointer !important;
}